<h1>Song Search</h1>
<form #usersearch = "ngForm" (ngSubmit) = "search(usersearch)">
  <input type = "text" ngModel name = "songName" placeholder = "Song Name" ngModel>
  <input type = "text" ngModel name = "artist" placeholder = "Artist" ngModel>
  <br/>
  <input type = "submit" value = "submit">
</form>
<!-- Replace src with image of spotify album -->
<img
  src={{imageURL}}
  class="img-thumbnail"
  alt="..."
/>
<audio id="audioPlayer" controls></audio>
<div class="container">
  {{ lyrics }}
</div>

